* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    overflow-x:hidden ;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header, footer {
    background-color: #192a56;
    padding-top: 16px;
    color: #fff;
}

header {
    position: sticky;
    top: 0;
    left: 0;
}

header > .container,
Footer > .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
}

nav {
    background-color: #575fcf;
    padding: 16px 0;
    display: none;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin-bottom: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.menu-hamburguer {
    width: 32px;
    cursor: pointer;
}

.menu-hamburguer span {
    height: 2px;
    width: 100%;
    background-color: #fff;
    display: block;
    margin-bottom: 4px;
}

#carousel-imagens {
    width: 100%;
    height: 400px; /* Defina uma altura fixa que se adeque às suas imagens */
    margin: 0 auto; /* Centraliza o carrossel na página */
    overflow: hidden; /* Garante que não haverá scrollbars */
}

#carousel-imagens img {
    width: 100%; 
    height: 100%; /* A imagem ocupará toda a altura do contêiner */
    object-fit: cover; /* Cobre o contêiner mantendo a proporção da imagem */
}

#sobre-a-loja .container-flex {
    display: flex !important;
    align-items: center;
    justify-content: space-between;
}

#sobre-a-loja  img {
    max-width:50% ;
    margin-right: 24px;
}

#sobre-a-loja  div {
    max-width: 50%;
}

section {
    padding: 48px 0;
}

section h2 {
    margin-bottom: 16px;
}

.lista-lanches li {
    list-style: none;
    max-width: 30%;
    margin-bottom: 24px;
    flex: 1;
}

.lista-lanches li h3 {
    margin: 16px 0;
}

.lista-lanches {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 16px;
}

.lista-lanches li img {
    max-width: 100%;
    height: auto;
    display: block;
}

.item-central {
    margin: 0 5%;
}

button {
    display: block;
    width: 100%;
    padding: 16px 0;
    border: none;
    background-color:green;
    color: white;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
    border-radius: 6px;
}

form button {
    max-width: 120px;
}

.lista-lanches li button {
    display: block;
    width: 100%;
    padding: 8px 0;
    border: none;
    background-color:green;
    color: white;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
    border-radius: 6px;
}

.lista-lanches li strong {
    margin: 16px 0;
    display: block;
}

.form-campo {
    margin-bottom: 16px;
}

.form-campo label {
    font-weight: bold;
    display: block;
}

.form-campo input,
.form-campo textarea {
    width: 100%;
    display: block;
    padding: 8px;
}

.form-campo textarea {
    resize: none;
    height: 120px;
}

form {
    max-width: 350px;
}

footer li {
    list-style: none;
    margin-left: 16px;
}

footer li img {
    height: 32px;
    width: auto;
}

footer ul.container-flex {
    display: flex;
    justify-content: center; /* Centraliza os ícones horizontalmente */
    align-items: center; /* Alinha os ícones verticalmente */
    padding: 0; /* Remove o padding padrão da lista */
    margin: 0; /* Remove as margens padrão */
}